body{
    background-image: url(img/snow.png);
    background-size: cover;
    height: 90vh;
    width: 100vw;
    background-repeat: no-repeat;
    margin: 0;
}

header{
    background: rgb(212, 212, 212);
    margin: 0;
    padding: 10px;
    text-align: center;
}

.container{
    position: relative;
    top: 30px;
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form-hidden{
    display: none;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 4px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;

}

.form button:hover,.form button:active {
    background: #43a047;
}

.form_message-error{
    color: rgb(202, 50, 50);
}

.form_link{
    cursor: pointer;
}

.form_link:hover{
    text-decoration: underline;
}

.homepage{
    position: relative;
    max-width: 800px;
    height: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 4px;
    font-size: 25px;
}

.h1{
    color: rgb(230, 230, 230);
    letter-spacing: 6px;
    position: relative;
    top: 60px;
}

.styleWelcome{
    font-size: 20px;
    font-family: "Roboto", sans-serif; 
    color: rgb(230, 230, 230);
    position: relative;
    top: 30px;
}

.logoutBtn{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(30, 34, 63);
    width: 120px;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    top: 100px;
}

.logoutBtn:hover{
    background: rgb(39, 45, 83);
}

footer{
    background: rgb(23, 26, 49);
    color: rgb(199, 199, 199);
    margin: 0;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
} 

.footerText{
    position: relative;
    right: 10px;
}

.usAdded{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #3c8f41;
}